extends ../../layout
//- 主页
block content
  link(rel="stylesheet", href="/css/normal.css")
  body
    include ../../head/nav
    .container
      p #{msg}
      form.form-horizontal.col-md-6.col-md-offset-3(action='/owner/additemPost', method='POST', enctype='multipart/form-data')
        -if(item != undefined)
          input.hidden(type='text', name='id', value="#{item._id}")
          
        .form-group
          label 名称
          input.form-control(type='text', name='name', placeholder='名称', value="#{item==undefined?'':item.name}")
        .form-group
          label 价格
          input.form-control(type='text', name='price', placeholder='价格', value="#{item==undefined?'':item.price}")
        .form-group
          label 描述
          input.form-control(type='text', name='introduction', placeholder='描述', value="#{item==undefined?'':item.introduction}")
        .form-group
          label 数目
          input.form-control(type='text', name='amount', placeholder='数目', value="#{item==undefined?'':item.amount}")
        .form-group
          label 产地
          input.form-control(type='text', name='storehouse', placeholder='产地', value="#{item==undefined?'':item.storehouse}")
        .form-group
          label 标签
          input.form-control(type='text', name='tags', placeholder='标签', value="#{item==undefined?'':item.tags.join(' ')}")
        .form-group.hidden
          label 日期
          input#dateInput(type='text', name='date')
        script.
          $('#dateInput').val(`${new Date().getFullYear()}-${new Date().getMonth()+1}-${new Date().getDate()} ${new Date().getHours()}:${new Date().getMinutes()}:${new Date().getSeconds()}`)
        .form-group
          label 图片
          input#itemPicture(type='file', name='picture')

        button.btn.btn-primary(style="background-color: green") 提交
 
    include ../../head/footer