//- 系统管理员

body
  
  .container-fluid
    .row
      .col-md-2
        h3 欢迎管理员 #{user.name}！
        hr
        h4 功能按钮：

        a.btn.btn-danger.btn-block(href="/signin") 退出
      
      .col-md-10
        .row
          .col-md-3
            h5 新增用户
            
            input.form-control.newUserId(type="text", placeholder="ID")
            input.form-control.newUserName(type="text", placeholder="姓名")
            input.form-control.newUserPassword(type="text", placeholder="密码")
            select.form-control.newUserLevel
              option(value="0") 普通教职工
              option(value="1") 教学秘书
              option(value="2") 系统管理员
              
            botton.btn.btn-primary.btn-block(onclick="addUser()") 录入

        hr
        .row
          .col-md-4
            h5 用户
            table.table.table-bordered
              thead
                tr
                  td id
                  td 姓名
                  td 密码
                  td 等级
                  td 操作
              tbody
                each item in users
                  tr
                    td #{item.id}
                    td #{item.name}
                    td #{item.password}
                    td #{item.level}
                    td
                      button.btn.btn-danger(value="#{item._id}", onclick='deleteUser(this.value)') 删除
            