extends ../layout
//- 主页
block content
  script(src="https://cdn.bootcss.com/xlsx/0.12.6/xlsx.full.min.js")
  script(src="/js/exportdoc.js")
  body

    -pays.sort((a, b)=>a.id-b.id)
    -for(let i=0;i<pays.length;i++)
      -pays[i].idNumber = i+1

    -for(let pay of pays)
      -if(typeof(pay.name)=='undefined')
        -for(let user of users)
          -if(pay.id == user.id){
            -pay.name = user.name
            -pay.number = user.department.number
          -}

    .container
      h4(style="text-align:center") 武汉轻工大学数计学院 #{year}年#{month}月份 教师预发工资信息表
      .form-inline 排序：
        span.form-control-static 按照
        select.form-control#sortSelect(onchange="sort(this)")
          option(value="1", selected) 教研室
          option(value="2") 工号
        button.btn.btn-primary(onclick="exportExcelFile()") 导出文件
      br

      a.btn.btn-default(href="/") 返回主页

      hr

      table.table.table-bordered#excelTable
        thead
          tr
            //- th 
            //- th 
            th.text-center(colspan="8") #{year}年#{month}月份二次工资变动通知单
          tr
            //- td
            //- td
            td.text-center(colspan="6") 部门：（公章）#{year}年#{month}月除特殊奖励院部预发数
            td
            td
          tr
            //- td
            //- td
            td(rowspan="2") 工号
            td(rowspan="2") 姓名
            td(colspan="2") 上月金额
            td(colspan="2") 本月增减变化
            td(colspan="2") 本月金额
          tr
            //- td 按工号排序
            //- td 按教研室排序
            td 奖励绩效预发
            td 兼课津贴
            td 奖励绩效预发
            td 兼课津贴
            td 奖励绩效预发
            td 兼课津贴
        tbody#excelTableBody
          each pay in pays
            tr
              td.hidden #{pay.idNumber}
              td.hidden #{pay.number}
              td #{pay.id}
              td #{pay.name}
              td #{pay.pay.last}
              td #{pay.reward.last}
              td #{pay.pay.change}
              td #{pay.reward.change}
              td #{pay.pay.final}
              td #{pay.reward.final}
        tfoot
          tr
            td(colspan="2") 合计
            td
            td
            td
            td
            td
            td
