extends ../layout
//- 主页
block content
  body
    include ../head/nav
    .container
      p 这里是商品详情页
      .col-md-4
        img.img-responsive(src="#{item.picture}")
      .col-md-8
        h2 #{item.name}
        p 价格：
          span.itemPrice #{item.price}
        p 上架日期：#{item.date}
        p 数量：
          span.itemAmount #{item.amount}
        p 产地：#{item.storehouse}
        p 描述：#{item.introduction}
        .amountDiv
          button.btn.btn-default(onclick="amountDown()") -
          input.itemAmountInput(type="text", value='1')
          button.btn.btn-default(onclick="amountUp()") +
        button.btn.btn-default(onclick="addShopCar('#{item._id}', '#{item.owner}')") 加入购物车
        button.btn.btn-primary(onclick="buyItem('#{item._id}', '#{item.owner}')") 购买
          
    include ../head/footer
    include ../public/alertInfoModal
    script(src="/js/ctrlItemByUser.js")