//- 教学秘书

body
  nav.navbar.navbar-default.navbar-fixed-top.text-center
    .container-fluid
      .navbar-header
        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='.navbar-collapse', aria-expanded='false')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand 教学工作量管理系统
      .collapse.navbar-collapse
        ul.nav.navbar-nav
          li(role="presentation"): a 首页
          li(role="presentation"): a 教师信息管理
          li(role="presentation"): a 工资管理
          li(role="presentation"): a 课程管理
        ul.nav.navbar-nav.navbar-right
          li(role="presentation"): a(onclick="updateAlertModal('反馈', `<textarea class='form-control' rows='3' style='resize:none;' placeholder='请输入您的意见'></textarea><br><button class='btn btn-block btn-primary' onclick='feedback($(this).siblings().first().val())'>提交</button>`)") 反馈
          li(role="presentation"): a(data-toggle="modal", data-target="#changePasswdModal") 修改密码
          li(role="presentation"): a(href="/signin") 退出

  //- 首页div
  .container-fluid.mainDiv
    .row
      .col-md-2(style="border-right: 1px solid #e7e7e7")
        h3 #{user.name}老师，您好！
        //- p 用户名：#{user.id}
        table.table
        //-   tr: td: h5 首页
        //-   tr: td: h5 用户管理
        //-   tr: td: h5 工资管理
        //-   tr: td: h5 修改密码
        //-   tr: td: a(href="/signin") 退出

      .col-md-10
        .col-md-8
          .panel.panel-default
            .panel-heading 通知
            .panel-body
              -if(message.length == 0)
                p 无公告
              -else
                -message.sort((a, b)=> new Date(b.date)- new Date(a.date))
                each item in message
                  -if(item.receiver == 'all')
                    .col-md-12(class="bg-#{item.level}", style="border-bottom: 2px white solid")
                      .col-md-9
                        h4 #{item.message}
                      .col-md-3
                        p.text-right #{item.date}
                        p.text-right #{item.senderName}

        .col-md-4
          .panel.panel-default
            .panel-heading 发送公告
            .panel-body
              .form-horizontal
                .form-group
                  label.control-label.col-sm-3 内容
                  .col-sm-9
                    input.form-control.sendMessageContent(type="text")
                .form-group
                  label.control-label.col-sm-3 接收者
                  .col-sm-9
                    select.form-control.sendMessageReceiverSelect
                      option(value="all") 所有老师
                      option(value="one") 单个老师
                    input.form-control.sendMessageReceiverInput(type="text", placeholder="请输入接收者的工号", style="display: none")
                .form-group
                  label.control-label.col-sm-3 等级
                  .col-sm-9
                    select.form-control.sendMessageLevel
                      option(value="primary") 普通(蓝色)
                      option(value="success") 成功(绿色)
                      option(value="warning") 警示(黄色)
                      option(value="danger") 危险(红色)
                .form-group
                  .col-sm-offset-3.col-md-9
                    button.btn.btn-primary.btn-block(onclick="sendMessage()") 发送

  //- 用户div
  .container-fluid.userDiv(style="display: none")
    .row
      .col-md-2(style="border-right: 1px solid #e7e7e7")
        h3 教师信息管理
        //- p 秘书姓名：#{user.name}
        //- p 用户名：#{user.id}
        //- 按钮视图
        table.table
          tr: td: button.btn.btn-block.btn-primary(onclick="addNewUserModal()") 新进教师
          tr: td: button.btn.btn-block.btn-default 教师信息一览表
          tr: td: button.btn.btn-block.btn-default 不在岗教师一览表
          
      .col-md-10
        //- 在职老师数据视图
        .dataViewDiv
          .form-inline
            p.form-control-static 按照：
            select.form-control 
              option(value="1", selected) 教研室
              option(value="2") 工号
            select.form-control
              option(value="1", selected) 升序
              option(value="2") 降序
            button.btn.btn-primary.viewWorkingTableSortBtn 排序
          br

          hr

          h4.text-center 武汉轻工大学数计学院 在职教师信息表
          table.table.table-hover
            thead
              tr
                th 教师工号
                th 教研室排名
                th 教师姓名
                th 所属教研室
                th 密码
            tbody#workingTable
              -users.sort((a, b)=> a.id-b.id)
              each item in users
                -if(item.isWorking)
                  tr(onmouseover="$(this).children().last().css('visibility', 'visible')", onmouseout="$(this).children().last().css('visibility', 'hidden')")
                    td #{item.id}
                    td #{item.department.number}
                    td #{item.name}
                    td #{item.department.name}
                    td #{item.password}
                    td.invisible(style="width:200px")
                      button.btn.btn-primary(value="#{item._id}" onclick="resetPassword(this)", style="width: 80px") 重置密码
                      button.btn.btn-primary(value="#{item._id}" onclick="changeUserBtn(this)", style="width: 80px") 修改信息
                      //- button.btn.btn-danger(value="#{item._id}" onclick="deleteUserBtn(this)") 离职

        //- 离职老师数据视图
        .dataViewDiv(style="display: none")
          h4.text-center 武汉轻工大学数计学院 离职教师信息表
          table.table.table-bordered
            thead
              tr
                th 教师工号
                th 教师姓名
                th 所属教研室
                th 密码
                th 操作

            tbody
              -for(let item of users)
                -if(!item.isWorking)
                  tr
                    td #{item.id}
                    td #{item.name}
                    td #{item.kind}
                    td #{item.password}
                    td
                      button.btn.btn-warning(value="#{item._id}" onclick="resetPassword(this)") 重新任职
  
  //- 工资div
  .container-fluid.payDiv(style="display: none")
    .row
      .col-md-2(style="border-right: 1px solid #e7e7e7")
        h3 预发工资管理
        //- p 秘书姓名：#{user.name}
        //- p 用户名：#{user.id}
        //- 按钮视图
        table.table
          tr
            td
              a.btn.btn-block.btn-primary.exportLink(href=`/exportdoc?y=${new Date().getFullYear()}&m=${new Date().getMonth()+1}`) 导出工资表

      .col-md-10
        //- 数据视图
        -let nowPays = []
        -const nowDate = `${new Date().getFullYear()}-${new Date().getMonth()+1}`
        -for(let item of pays)
          -if(item.applyMonth == nowDate)
            -nowPays.push(item)
        
        //- 获取 name 和 教研室排名
        -for(let pay of nowPays)
          -if(typeof(pay.name)=='undefined')
            -for(let user of users)
              -if(pay.id == user.id){
                -pay.name = user.name
                -pay.number = user.department.number
              -}

        .allViewDiv
          .form-inline
            p.form-control-static 排序：
            select.form-control
              option(value="1", selected) 教研室
              option(value="2") 工号
              option(value="3") 提交日期
            select.form-control 
              option(value="1", selected) 升序
              option(value="2") 降序
            button.btn.btn-primary.payTableSortBtn 排序
          br
          .form-inline
            p.form-control-static 快捷操作：          
            button.btn.btn-primary(onclick="$('.passReqBtn').click()") 一键全部通过
          br

          p 当月已填人数比 
            button.btn.btn-default.usersRateInfo() #{nowPays.length} / #{users.length}

          hr

          h4(style="text-align:center") 武汉轻工大学数计学院 #{`${new Date().getFullYear()}年${new Date().getMonth()+1}月份`} 教师预发工资信息表
          table.table.table-bordered.table-hover
            thead
              tr
                th 教师工号
                th 教研室排名
                th 提交日期
                th 教师姓名
                th 奖励绩效预发(元)
                th 兼课津贴(元)
                th 审核状态
            tbody#payTable
              each item in nowPays
                //- 当月工资项
                tr
                  td #{item.id}
                  td #{item.number}
                  td #{item.applyDate}
                  td #{item.name}
                  td #{item.pay.final}
                  td #{item.reward.final}
                  -if(item.isChecked == 2)
                    td.text-success 已通过审核
                  -else
                    td
                      button.btn.btn-primary.passReqBtn(value='#{item._id}', onclick='passRequest(this.value)') 通过
                      button.btn.btn-warning(value='#{item._id}', onclick="updateAlertModal('驳回申请', `<input class='form-control refuseInput' placeholder='请输入驳回原因'><br><button class='btn btn-warning btn-block' value='#{item._id}' onclick='refuseRequest(this.value)'>驳回</button>`)") 驳回

  //- 课程div
  .container-fluid.classDiv(style="display: none")
    .row
      .col-md-2(style="border-right: 1px solid #e7e7e7")
        h3 课程管理
        //- 按钮视图
        table.table
          tr: td
                button.btn.btn-block.btn-primary(onclick="$('#courseExcelInput').click()") 一键导入课程
                input#courseExcelInput(style="display: none", type="file")
      
      .col-md-10
        //- 数据视图
        .allViewDiv
          h4(style="text-align:center") 授课信息表
          -if(courses.length == 0)
            p 无记录
          -else
            table.table.table-bordered.table-hover
              thead
                tr: th 学年
                    th 课程代号
                    th 教工号
                    th 课程名称
                    th 课程性质
                    th 教学班级
                    th 学生人数
                    th 总学分
                    th 总学时
                    
              tbody
                each item in courses
                  tr: td #{item.dateInfo.year}-#{item.dateInfo.semester}
                      td #{item.id}
                      td #{item.teacherInfo.id}
                      td #{item.name}
                      td #{item.kind}
                      td #{item.classroomInfo.classComposition}
                      td #{item.number}
                      td #{item.chooseInfo.credit}
                      td #{item.chooseInfo.hour}
          