//- 普通用户

body
  nav.navbar.navbar-default
    .container-fluid(style="background-color: #1295D8;height: 100px;background-image: url('/img/background.png')")
      .container
        .navbar-header
          img.navbar-brand(src='/img/logo.png', style="height: 100px")
          h3.navbar-text(style="color: white; line-height:100px; text-align:left;margin:0")= title
  
  .container
    .row
      .col-md-9.col-md-push-3.col-xs-12
        //- 首页
        .mainDiv.homePageDiv
          .panel.panel-primary
            .panel-heading
              span.glyphicon.glyphicon-bullhorn(aria-hidden="true") 
              span  公告栏
            .panel-body
              .allMessageBox.container-fluid
                -message.sort((a, b)=> new Date(b.date)- new Date(a.date))
                h4 学院公告
                -let allMessageIsEmpty = true
                each item in message
                  -if(item.receiver == 'all')
                    -allMessageIsEmpty = false
                    .col-md-12(class='bg-#{item.level}', style='border-bottom: 2px white solid')
                      .col-md-9
                        h4 #{item.message}
                      .col-md-3
                        p.text-right #{item.date}
                        p.text-right #{item.senderName}
                -if(allMessageIsEmpty)
                  p 无公告
              hr
              .myMessageBox.container-fluid
                h4 我的消息
                -let selfMessageIsEmpty = true
                each item in message
                  -if(item.receiver!='all')
                    -selfMessageIsEmpty = false
                    .col-md-12(class='bg-#{item.level}', style='border-bottom: 2px white solid')
                      .col-md-9
                        h4 #{item.message}
                      .col-md-3
                        p.text-right #{item.date}
                        p.text-right #{item.senderName}
                -if(selfMessageIsEmpty)
                  p 无消息

        //- 工资管理
        .payCtrlDiv.homePageDiv(style="display: none")
          .panel.panel-primary
            .panel-heading
              span.glyphicon.glyphicon-list(aria-hidden="true")
              span  工资管理
            .panel-body
              h3 #{user.name}老师，您好！
              hr
              -let result = false
              -const nowMonth = `${new Date().getFullYear()}-${new Date().getMonth()+1}`
              -const lastMonth = new Date().getMonth()==0 ? `${new Date().getFullYear()-1}-12` : `${new Date().getFullYear()}-${new Date().getMonth()}`

              -let nowPay
              -if(pay.length != 0)
                -for(let item of pay)
                  -if(item.applyMonth == nowMonth){
                    -nowPay = item
                    -result = true
                  -}
              //- 已填写当月的
              -if(result)
                -if(nowPay.isChecked == 2)
                  p 当前月份 #{nowPay.applyMonth} 的预发工资状态为：
                    span.text-success 审核已通过！
                  p 您的奖励绩效预发为：#{nowPay.pay.final} 元
                  p.hidden 您的兼课津贴为：#{nowPay.reward.final} 元
                  p 提交日期为：#{nowPay.applyDate}
                -else
                  p 当前月份 #{nowPay.applyMonth} 的预发工资状态为：
                    span.text-info 已提交审核，请等待通过
                  p 最后提交日期为：#{nowPay.applyDate}
                  .form-horizontal
                    .form-group
                      label.col-md-2.control-label(for="") 奖励绩效预发(元)
                      .col-md-5
                        input.form-control.lastPay(style="display: none", type="text", value="#{nowPay.pay.last}")
                        input.form-control.newPay(type="text", value="#{nowPay.pay.final}")
                    .form-group.hidden
                      label.col-md-2.control-label(for="") 兼课津贴(元)
                      .col-md-5
                        input.form-control.lastReward(style="display: none", type="text", value="#{nowPay.reward.last}")
                        input.form-control.newReward(type="text", value="#{nowPay.reward.final}")                    
                    .form-group
                      .col-md-5.col-md-offset-2
                        button.btn.btn-block.btn-default(value="#{nowPay._id}", onclick="changePay(this.getAttribute('value'))") 修改
              -else
                -let lastPay
                -if(pay.length != 0)
                  -for(let item of pay)
                    -if(item.applyMonth == lastMonth){
                      -lastPay = item
                    -}
                p 您还未填写当前月份的预发工资
                .form-horizontal
                  .form-group
                    label.col-md-2.control-label(for="") 月份
                    .col-md-5
                      input.form-control.applyMonthSelect(type="text", value="#{nowMonth}", readonly)
                  .form-group
                    label.col-md-2.control-label(for="") 奖励绩效预发(元)
                    .col-md-5
                      input.form-control.lastPay(style="display: none", type="text", value="#{typeof(lastPay)=='undefined'?0:lastPay.pay.final}")
                      input.form-control.newPay(type="text", placeholder="#{typeof(lastPay)=='undefined'?'上个月未填':`上个月为${lastPay.pay.final}元`}")
                  .form-group.hidden
                    label.col-md-2.control-label(for="") 兼课津贴(元)
                    .col-md-5
                        input.form-control.lastReward(style="display: none", type="text", value="#{typeof(lastPay)=='undefined'?0:lastPay.reward.final}")
                        input.form-control.newReward(type="text", placeholder="#{typeof(lastPay)=='undefined'?'上个月未填':`上个月为${lastPay.reward.final}元`}")
                  .form-group
                    .col-md-5.col-md-offset-2
                      button.btn.btn-block.btn-primary(type="button", onclick="setNewPay()") 提交

              -if(pay.length != 0)
                hr
                h4 工资项目表:
                table.table.table-bordered.table-hover
                  thead
                    tr: th 申请日期
                        th 提交日期
                        th 奖励绩效预发(元)
                        th.hidden 兼课津贴(元)
                        th 状态
                  tbody
                    each item in pay
                      tr: td #{item.applyMonth}
                          td #{item.applyDate}
                          td #{item.pay.final}
                          td.hidden #{item.reward.final}
                          -if(item.isChecked == 2)
                            td.text-success 已通过审核
                          -else
                            td.text-info 等待审核中

        //- 授课查询
        .allClassDiv.homePageDiv(style="display: none")
          .panel.panel-primary
            .panel-heading
              span.glyphicon.glyphicon-list(aria-hidden="true") 
              span  授课总表
            .panel-body
              -if(courses.length==0)
                p 暂无课程
              -else
                -const nowDate = new Date()
                -let nowYear
                -let nowNumber
                -let nowSemester

                -if(nowDate.getMonth()>=2 && nowDate.getMonth()<9){
                  -nowNumber = 2
                  -nowYear = nowDate.getFullYear()
                -}
                -else if(nowDate.getMonth()<2){
                  -nowNumber = 1
                  -nowYear = nowDate.getFullYear()
                -}
                -else{
                  -nowNumber = 1
                  -nowYear = nowDate.getFullYear()-1
                -}
                -nowSemester = (nowYear - 1) + '-' + nowYear + '-' + nowNumber

                -for(let i=0; i<4; i++){
                  -let hasCourse = false
                  -for(let item of courses)
                    -if(item.dateInfo.year+'-'+item.dateInfo.semester === nowSemester){
                      -hasCourse = true
                      -break
                    -}
                  -if(hasCourse)
                    p 学期：#{nowSemester}
                    table.table.table-bordered.table-hover
                      thead
                        tr: th 序号
                            th 课程代号
                            th 课程名称
                            th 课程性质
                            th 教学班级
                            th 学生人数
                            th 总学分
                            th 总学时
                            th 实验学时
                            th 合班系数
                            th 实际学时
                      tbody
                        each item,index in courses
                          -if(item.dateInfo.year+'-'+item.dateInfo.semester === nowSemester)
                            tr: td #{index+1}
                                td #{item.id}
                                td #{item.name}
                                td #{item.kind}
                                td #{item.classroomInfo.classComposition}
                                td #{item.number}
                                td #{item.chooseInfo.credit}
                                td #{item.chooseInfo.hour}
                                td
                                td
                                td

                  -if(nowNumber == 2)
                    -nowNumber = 1
                  -else{
                    -nowNumber = 2
                    -nowYear-=1
                  -}
                  -nowSemester = (nowYear - 1) + '-' + nowYear + '-' + nowNumber
                -}

        //- 课程登记
        .addClassDiv.homePageDiv(style="display: none")
          .panel.panel-primary
            .panel-heading
              span.glyphicon.glyphicon-list(aria-hidden="true")
              span  课程登记
            .panel-body
              //- form.addNewClassForm(method="POST", action="/user/newClass")
              //-   .input-group
              //-     span.input-group-addon 登记日期
              //-     input.form-control.classDateInput(type="text", name="date", readonly)
              //-     script.
              //-       $(".classDateInput").val(`${new Date().getFullYear()}-${new Date().getMonth()+1}-${new Date().getDate()} ${new Date().getHours()}:${new Date().getMinutes()}`)
              //-   .input-group
              //-     span.input-group-addon 教学学期
              //-     select.form-control.classSemesterSelect(name="semester")
              //-     script.
              //-         for(let i=new Date().getFullYear() + 1; i>=new Date().getFullYear() - 1; i--)
              //-           for(let j=2; j>=1; j--){
              //-             if(new Date().getMonth()>=0&&new Date().getMonth()>6?`${new Date().getFullYear()}-${new Date().getFullYear()+1}-1`:`${new Date().getFullYear()-1}-${new Date().getFullYear()}-2` == `${i-1}-${i}-${j}`)
              //-               $(".classSemesterSelect").append(`<option selected>${i-1}-${i}-${j}</option>`)
              //-             else
              //-               $(".classSemesterSelect").append(`<option>${i-1}-${i}-${j}</option>`)
              //-           }
              //-   .input-group
              //-     span.input-group-addon 课程类别
              //-     select.form-control.classKindSelect(name="classKind")
              //-       option(value="normal") 普通课程
              //-       option(value="design") 课程设计
              //-       option(value="train") 科研训练
              //-       option(value="produce") 生产实习
              //-       option(value="graduate") 毕业实习
              //-   br
              //-   .input-group
              //-     span.input-group-addon 课程名称
              //-     input.form-control.publicInput(type="text", name="name")
              //-   .input-group
              //-     span.input-group-addon 专业
              //-     input.form-control.publicInput(type="text", name="faculty")
              //-   .input-group
              //-     span.input-group-addon 班级
              //-     input.form-control.publicInput(type="text", name="class")
              //-   .input-group
              //-     span.input-group-addon 学生人数
              //-     input.form-control.publicInput(type="text", name="studentAmount")
              //-   br
              //-   .classesInputGroup
              //-     .input-group
              //-       span.input-group-addon 标准学时
              //-       input.form-control(type='text', name='standardHours')
              //-     .input-group
              //-       span.input-group-addon 理论学时
              //-       input.form-control(type='text', name='theoryHours')
              //-     .input-group
              //-       span.input-group-addon 实验学时
              //-       input.form-control(type='text', name='experimentHours')
              //-     .input-group
              //-       span.input-group-addon 合班系数
              //-       input.form-control(type='text', name='point')
              //-     .input-group
              //-       span.input-group-addon 实际学时
              //-       input.form-control(type='text', name='finalHours')

              //- br
              //- p.text-right.text-danger.addNewClassMessage
              //- button.btn.btn-primary.btn-block(onclick="addNewClass()") 录入

      .col-md-3.col-md-pull-9.col-xs-12
        .panel.panel-primary
          .panel-heading
            span.glyphicon.glyphicon-user(aria-hidden="true") 
            span  个人信息
          .panel-body
            h3 #{user.name}老师，您好！
            p 教师工号：#{user.id}

            button.btn.btn-block.btn-primary(onclick="mainDivClick()") 首页
            button.btn.btn-block.btn-primary(onclick="payDivClick()") 工资管理
            button.btn.btn-block.btn-primary(disabled, onclick="addClassClick()") 课程登记
            button.btn.btn-block.btn-primary(onclick="allClassClick()") 授课查询
            button.btn.btn-block.btn-default(data-toggle="modal", data-target="#changePasswdModal") 修改密码
            button.btn.btn-block.btn-default(onclick="updateAlertModal('反馈', `<textarea class='form-control' rows='3' placeholder='请输入您的意见' style='resize:none;'></textarea><br><button class='btn btn-block btn-primary' onclick='feedback($(this).siblings().first().val())'>提交</button>`)") 反馈
            a.btn.btn-block.btn-default(href="/signin") 退出
